/* General Styles */
body {
    font-family: Arial, sans-serif;
}

/* Hero Section Styles */
.home__hero {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.hero__title {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero__description {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero__button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
}

/* About Section Styles */
.home__about {
    padding: 20px;
    text-align: center;
}

.about__title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Product Section Styles */
.home__product {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.product__title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product__description {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.product__button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
}